.DS_Store obsidian/workspace.json
.obsidian/workspace.json
obsidian/workspace-mobile.json
.obsidian/workspace-mobile.json
/.smtcmp_chat_histories
/.smtcmp_chat_histories
.smtcmp_chat_histories/chat_list.json
