/* 인포박스 기본 스타일 */
.callout[data-callout~=infobox] {
    --callout-color: var(--note, var(--background-primary));
    --callout-padding: 0;
    --callout-content-padding: 5px;
    --callout-margin: 0 0 0 5px;
    background: var(--note, var(--background-primary));
    border: 0;
    box-shadow: none;
    width: auto;
    max-width: 300px;
    float: right;
    border-radius: var(--radius-s);
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    font-family: var(--default-font);
}

/* 인포박스 테마별 윤곽선 스타일 */
.theme-light .callout[data-callout~=infobox] {
    border: 2.5px solid #ddd;
}

.theme-dark .callout[data-callout~=infobox] {
    border: 2.5px solid #333;
}

/* 인포박스 제목 및 헤더 스타일 */
.callout[data-callout~=infobox] .callout-title,
.callout[data-callout~=infobox] .callout-content> :is(h1, h2, h3, h4, h5, h6) {
    text-align: center;
    width: 100%;
    background: var(--background-secondary);
    font-family: var(--default-font);
}

/* 인포박스 제목 스타일 */
.callout[data-callout~=infobox] .callout-title {
    display: block;
    padding: 1px;
    font-weight: bold;
}

/* 인포박스 아이콘 스타일 */
.callout[data-callout~=infobox] .callout-icon {
    display: none;
}

/* 인포박스 내 인라인 필드 스타일 */
.dataview.inline-field-key,
.dataview.inline-field-value {
    font-family: var(--default-font);
    font-weight: bold;
}