

/* image center align */
img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* image right align */
img[alt*="right"] {
  float: right;
  clear: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
}